  body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    text-align : justify;
  }
  
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

  h1, h2{
    color: #333;
  }

  h1{
    text-align:center;
  }

  h3 {
    color: #444;
  }
  strong{
    color: rgb(105, 98, 98);

  }

  a {
    color: #f55764;
  }
 
  fieldset{
        border-color: #fadcc8;
  }

  .fondo  {
        background-color: #fadcc8;
  }
 
  input:focus {
    border: 2px solid #000;
    background: #F3F3F3;
  }
  
  select, input {
    outline-color: #f55764;
  }
  
  .citalarga{
    margin-left: 4em;
  }

  section {
    padding-bottom: 2em;
  }

  footer{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-size: small;
  }

  h1, footer{
    max-width: 100%;
  }

  section, h2{
    max-width: 55em;
    margin: 0 auto;
  }

  .centrar {
    text-align : center;
  }